<div class="container">

    <h1>Transcoded files list</h1>

    <div class="row">
        <div class="container">
            {% for file in transcodedFiles %}
                <div class="file__transcoded row" data-url-delete="{{ path('converted_file_delete', { 'id': file.id }) }}" data-url-retry="{{ path('files_retry_transcode', { 'id': file.id }) }}" data-url-download="{{ path('converted_file_download', { 'id': file.id }) }}" data-currente-state="{{ file.status }}" data-currente-state-percentage="{{ file.statusPercentage }}" data-url-state="{{ path('converted_file_getstate', { 'id': file.id }) }}" data-id="{{ file.id }}">
                    <div class="container">
                        <div class="row"><h3>{{ file.name }}</h3></div>
                        <div id="buttons" class="row">
                        </div>
                        <div class="row">
                            <div class="progress ">
                                <div class="progress-bar" role="progressbar" aria-valuenow=""
                                     aria-valuemin="0" aria-valuemax="{{ file.statusPercentage }}" style="width: {{ file.statusPercentage }}%;">
                                    {{ file.status }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-info">No files</div>
            {% endfor %}
        </div>
    </div>
</div>