<div class="container">

    <h1>Transcoded files list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Content type</th>
            <th>Content length</th>
            <th>Percentage</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for file in transcodedFiles %}
            <tr>
                <td>{{ file.id }}</a></td>
                <td>{{ file.name }}</td>
                <td>{{ file.contentType }}</td>
                <td>{{ file.contentLength }}</td>
                <td>{{ file.statusPercentage?? "-" }}</td>
                <td>{{ file.status }}</td>
                {% if file.status == "Transcoded" %}
                    <td>

                        <a href="{{ path('converted_file_download', { 'id': file.id }) }}" class="btn btn-primary">Download</a>


                    </td>
                {% endif %}
                {% if file.statusPercentage == 0 %}
                    <td>


                        <a href="{{ path('files_retry_transcode', { 'id': file.id }) }}" class="btn btn-info">Retry</a>


                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>