<div class="container">

    <h1>Transcoded files list</h1>


    <div class="row">


    {% for file in transcodedFiles %}

        <div class="file__transcoded" data-url-state="{{ path('converted_file_getstate', { 'id': file.id }) }}" data-id="{{ file.id }}">
            <h3>{{ file.name }}</h3>
            <div class="col-xs-10">
                <div class="progress ">
                    <div class="progress-bar" role="progressbar" aria-valuenow=""
                         aria-valuemin="0" aria-valuemax="{{ file.statusPercentage }}" style="width: {{ file.statusPercentage }}%;">
                        {{ file.status }}
                    </div>
                </div>
            </div>

            {% if file.status == "Transcoded" %}

                <div class="col-xs-2 text-center">
                    <a href="{{ path('converted_file_download', { 'id': file.id }) }}" class="btn btn-primary">Download</a>
                </div>



            {% endif %}
            {% if file.statusPercentage == 0 %}

                <div class="col-xs-2 text-center ">
                    <a href="{{ path('files_retry_transcode', { 'id': file.id }) }}" class="btn btn-info">Retry</a>
                </div>





            {% endif %}
        </div>

    {% endfor %}
    </div>



</div>