{% extends 'base.html.twig' %}

{% block body %}
    <h1>File list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Content type</th>
                <th>Content length</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td><a href="{{ path('files_show', { 'id': file.id }) }}">{{ file.id }}</a></td>
                <td>{{ file.name }}</td>
                <td>{{ file.contentType }}</td>
                <td>{{ file.contentLength }}</td>
                <td>{{ file.status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('files_show', { 'id': file.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('files_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
